[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sky-wang
[access "refs/for/refs/*"]
	read = group user/sky-wang
	push = group user/sky-wang
	label-Code-Review = -2..+2 group user/sky-wang
	label-Verified = -1..+1 group user/sky-wang
	rebase = group user/sky-wang
	removeReviewer = group user/sky-wang
	submit = group user/sky-wang
[access "refs/heads/*"]
	read = group user/sky-wang
	create = group user/sky-wang
	push = +force group user/sky-wang
	pushMerge = group user/sky-wang
[access "refs/tags/*"]
	push = +force group user/sky-wang
	pushTag = group user/sky-wang
	pushSignedTag = group user/sky-wang
